navbar-title-color = rgb(0, 0, 0)
navbar-button-color = rgb(21, 125, 251)
navbar-anim-duration = 0.6s
navbar-timing-function = cubic-bezier(.1, .7, .1, 1);
@import '..'

.demo
  width: 320px
  height: 480px
  margin: 0 auto
  background: white
  border: 1px solid grey
  .navbar
    height: 45px
    margin: 0 auto
    border-bottom: 1px solid grey
    font: 300 17px/45px "Helvetica Neue"
    -webkit-font-smoothing: antialiased;
    h1
      font-weight: 500
      font-size: 17px
